results/
data/
__pycache__
scripts/*.sh
scripts/*.out
scripts/TODO.md
scripts/*copy*
scripts/deprecated
scripts/run_component.py
scripts/scorer.py
scripts/test_*
scripts/*.ipynb*
scripts/slurm/
.mypy_cache
models/
unittest/